
*{
  font-family: 'Roboto', sans-serif;
  font-family: 'montserrat', sans-serif;

}

html{
  scroll-behavior: smooth;
}

h2{
   color: #007bff;
}

/*#landing{
display: grid;
justify-content: center;

}

#landing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/


#avatar{
  width: 200px;
  border-radius: 50%;
}

#landing{
  height: 87vh;
  margin-top: 70px;

  /*Center content vertically using flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#gallery{
  height: 87vh;

  /*Center content vertically using flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery ul{
  list-style: none;
  padding: 0;
}

.tools{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 15px;

}

/*Bootstrap overrides*/
.jumbotron{
  background-color: lightgrey;
}